<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DWTPage1Servlet</servlet-name>
        <servlet-class>MyServlets.DWTPage1Servlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>DWT2Servlet</display-name>
        <servlet-name>DWT2Servlet</servlet-name>
        <servlet-class>MyServlets.DWT2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articlelist</servlet-name>
        <servlet-class>MyServlets.articlelist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eventslist</servlet-name>
        <servlet-class>MyServlets.eventslist</servlet-class>
    </servlet>
    <servlet>
        <display-name>logout</display-name>
        <servlet-name>logout</servlet-name>
        <servlet-class>MyServlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>MyServlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPictureServlet</servlet-name>
        <servlet-class>MyServlets.UploadPictureServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ValidateLogin</display-name>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>MyServlets.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewArticleServlet</servlet-name>
        <servlet-class>MyServlets.ViewArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteArticleServlet</servlet-name>
        <servlet-class>MyServlets.WriteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventsServlet</servlet-name>
        <servlet-class>MyServlets.ViewEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRatingServlet</servlet-name>
        <servlet-class>MyServlets.addRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyArticleServlet</servlet-name>
        <servlet-class>MyServlets.modifyArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewArticleServlet</servlet-name>
        <servlet-class>MyServlets.reviewArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPanelServlet</servlet-name>
        <servlet-class>MyServlets.ControlPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadAvatarServlet</servlet-name>
        <servlet-class>MyServlets.uploadAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>articlelist</servlet-name>
        <url-pattern>/servlets/articlelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventslist</servlet-name>
        <url-pattern>/servlets/eventslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/servlets/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/servlets/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPictureServlet</servlet-name>
        <url-pattern>/servlets/UploadPictureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/servlets/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewArticleServlet</servlet-name>
        <url-pattern>/servlets/ViewArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteArticleServlet</servlet-name>
        <url-pattern>/servlets/WriteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventsServlet</servlet-name>
        <url-pattern>/servlets/ViewEventsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRatingServlet</servlet-name>
        <url-pattern>/servlets/addRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyArticleServlet</servlet-name>
        <url-pattern>/servlets/modifyArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewArticleServlet</servlet-name>
        <url-pattern>/servlets/reviewArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPanelServlet</servlet-name>
        <url-pattern>/servlets/ControlPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadAvatarServlet</servlet-name>
        <url-pattern>/servlets/uploadAvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DWTPage1Servlet</servlet-name>
        <url-pattern>/servlets/DWTPage1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DWT2Servlet</servlet-name>
        <url-pattern>/servlets/DWT2Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
